doctype html
html
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='icon', href='/images/favicon.ico')
        block pub_head
            link(rel='stylesheet', href='/css/animate.min.css')
            link(rel='stylesheet', href='/css/public.css')
    body
        block menubar
            .header
                .top-bar(class=(module == 'home')?'top-bar-home':'')
                    .container.after-cls
                        a.top-logo(href='/')
                        .top-nav
                            ul
                                li(class=(module == 'home')?'cur':''): a(href='/') 首页
                                li(class=(module == 'article')?'cur':''): a(href='/article_list.html') 头条
                                li(class=(module == 'mark')?'cur':''): a(href='/mark_list.html') 商标
                                li(class=(module == 'domain')?'cur':''): a(href='/domain_list.html') 域名
                                li: a(href='/') APP
                        .top-nav.fl-r
                            ul
                                li
                                    a(
                                        href='javascript:;'
                                        onclick='func_upwin_login()'
                                    ) 免费品牌推广
                                li
                                    a(href='/') W币交易中心
                                li
                                    a(
                                        href='javascript:;'
                                        onclick='func_upwin_register()'
                                    ) 注册
                                li.split
                                    a(href='javascript:;') |
                                li
                                    a(
                                        href='javascript:;'
                                        onclick='func_upwin_login()'
                                    ) 登录
        block content
        
        block pub_foot
            //默认有底部
            .footer
                .footer-box
                    .container.pt20.pb20.after-cls
                        dl
                            dt 企业服务
                            dd
                                a(
                                    href='/'
                                    target='_blank'
                                ) 企业名录
                            dd
                                a(href='/mark_list.html') 商标服务
                            dd
                                a(href='/domain_list.html') 域名服务
                        dl
                            dt 帮助中心
                            dd
                                a(
                                    href='/agreement.html'
                                    target='_blank'
                                ) 用户协议
                            dd
                                a(href='/') 常见问题
                            dd
                                a(href='/') 寻求报道
                        dl
                            dt 联系我们
                            dd
                                a(href='/') 杭州再下一城网络科技有限公司
                            dd
                                p 公司地址&nbsp;&nbsp;杭州拱墅区上塘路333号海外海写字楼11楼
                            dd
                                p 公司电话&nbsp;&nbsp;400-889-0135（09:00~18:00）
                        
                        dl.fl-r
                            dt.ta-r
                                img.bottom-logo(src='/images/bottom-logo.png')
                            dd.ta-r
                                p QQ咨询：
                                    a.in-block(
                                        href='http://wpa.qq.com/msgrd?v=3&amp;uin=2165223868&amp;site=qq&amp;menu=yes'
                                        target='_blank'
                                    ) 2165223868
                            dd.ta-r
                                p 加入我们：
                                    a.in-block.w90(
                                        href='mailto:hr@waitui.com'
                                        target='_blank'
                                    ) hr@waitui.com
                            dd.ta-r
                                p 商务合作：
                                    a.in-block.w90(
                                        href='mailto:bd@waitui.com'
                                        target='_blank'
                                    ) bd@waitui.com
                        
                    
                    .friend-link
                        .container
                            ul
                                li
                                    label 友情链接：
                                li
                                    a(
                                        href='https://www.marksmile.com/'
                                        target='_blank'
                                    ) 名商网
                                li
                                    a(
                                        href='http://www.yumi.com/'
                                        target='_blank'
                                    ) 玉米网
                                li
                                    a(
                                        href='http://www.shangbiao.com/'
                                        target='_blank'
                                    ) 商标圈
                            .copyright
                                span.mr15 Copyright © 2018 外推网
                                span 浙ICP备14009787号-1
            
            //默认有侧边栏
            #to_topbar.to-topbar
                #ico_top.ico-top(style={display:'none'})
            
            //用户登录弹框
            #upwin_login.upwin(style={height:'390px',display:'none'}).
                <div class="upwin-title">用户登录<a href="javascript:;" class="upwin-title-close" onclick="Pop.exit();"></a></div>
                <div class="upwin-content">
                    <div class="upwin-form">
                        <div class="login-tab">
                            <a href="javascript:;" class="cur">密码登录</a>
                            <a href="javascript:;">短信登录</a>
                        </div>
                        <div class="form-tip" id="upwin_login_error"></div>
                        <ul>
                            <li>
                                <div class="form-input-box">
                                    <i class="ico ico-phone"></i>
                                    <input type="tel" class="form-input" id="phone_num" placeholder="输入手机号" maxlength="11" required="required" />
                                </div>
                            </li>
                            <li id="code_num_box" style="display: none;">
                                <div class="form-input-box">
                                    <div class="form-code-box">
                                        <i class="ico ico-code"></i>
                                        <input type="tel" class="form-input" id="code_num" placeholder="输入验证码" maxlength="6" required="required" />
                                    </div>
                                    <a href="javascript:;" class="form-input-link forbid" id="code_btn" onclick="sendCodeLogin(this,60,$('#phone_num').val(),'upwin_login_error')">获取验证码</a>
                                </div>
                            </li>
                            <li id="pwd_num_box">
                                <div class="form-input-box">
                                    <i class="ico ico-pwd"></i>
                                    <input type="password" class="form-input" id="pwd_num" placeholder="输入密码" required="required" />
                                </div>
                            </li>
                        </ul>
                        <!--用户登录方式，sms_login短信登录，pwd_login密码登录-->
                        <input type="hidden" id="login_type" value="pwd_login" />
                        
                        <div class="ta-r mb10 h15" style="margin-top: -15px;"><a href="javascript:;" class="upwin-link" id="upwin_tofindpwd">忘记密码?</a></div>
                        <a href="javascript:;" id="login_btn" class="upwin-btn mb20 forbid">登录</a>
                        <div class="login-bottom-text">没有账号？<a href="javascript:;" class="upwin-link" id="upwin_toregister">立即注册</a></div>
                    </div>
                </div>
            
            //用户注册弹框
            #upwin_register.upwin(style={height:'390px',display:'none'}).
                <div class="upwin-title">用户注册<a href="javascript:;" class="upwin-title-close" onclick="Pop.exit();"></a></div>
                <div class="upwin-content">
                    <div class="upwin-form pt0">
                        <div class="form-tip" id="upwin_register_error"></div>
                        <ul>
                            <li>
                                <div class="form-input-box">
                                    <i class="ico ico-phone"></i>
                                    <input type="tel" class="form-input" id="phone_reg" placeholder="输入手机号" maxlength="11" required="required" />
                                    <!--<a href="javascript:;" class="form-clear"></a>-->
                                </div>
                            </li>
                            <li>
                                <div class="form-input-box">
                                    <div class="form-code-box">
                                        <i class="ico ico-code"></i>
                                        <input type="tel" class="form-input" id="code_reg" placeholder="输入验证码" maxlength="6" required="required" />
                                        <!--<a href="javascript:;" class="form-clear"></a>-->
                                    </div>
                                    <a href="javascript:;" class="form-input-link forbid" id="code_btn_reg" onclick="sendCodeRegister(this,60,$('#phone_reg').val(),'upwin_register_error')">获取验证码</a>
                                </div>
                            </li>
                            <li>
                                <div class="form-input-box">
                                    <i class="ico ico-pwd"></i>
                                    <input type="password" class="form-input" id="pwd_reg" placeholder="设置密码" required="required" />
                                    <!--<a href="javascript:;" class="form-clear"></a>-->
                                </div>
                            </li>
                        </ul>
                        
                        <a href="javascript:;" id="register_btn" class="upwin-btn mb20 forbid">注册</a>
                        <div class="login-bottom-text">已有账号&nbsp;&nbsp;<a href="javascript:;" class="upwin-link" id="upwin_tologin">直接登录</a></div>
                    </div>
                </div>
            
            //找回密码弹框
            #upwin_findpwd.upwin(style={height:'390px',display:'none'}).
                <div class="upwin-title">找回密码<a href="javascript:;" class="upwin-title-close" onclick="Pop.exit();"></a></div>
                <div class="upwin-content">
                    <div class="upwin-form pt0">
                        <div class="form-tip" id="upwin_findpwd_error"></div>
                        <ul>
                            <li>
                                <div class="form-input-box">
                                    <i class="ico ico-phone"></i>
                                    <input type="tel" class="form-input" id="phone_find" placeholder="输入手机号" maxlength="11" required="required" />
                                    <!--<a href="javascript:;" class="form-clear"></a>-->
                                </div>
                            </li>
                            <li>
                                <div class="form-input-box">
                                    <div class="form-code-box">
                                        <i class="ico ico-code"></i>
                                        <input type="tel" class="form-input" id="code_find" placeholder="输入验证码" maxlength="6" required="required" />
                                        <!--<a href="javascript:;" class="form-clear"></a>-->
                                    </div>
                                    <a href="javascript:;" class="form-input-link forbid" id="code_btn_find" onclick="sendCodeFindpwd(this,60,$('#phone_find').val(),'upwin_findpwd_error')">获取验证码</a>
                                </div>
                            </li>
                            <li>
                                <div class="form-input-box">
                                    <i class="ico ico-pwd"></i>
                                    <input type="password" class="form-input" id="pwd_find" placeholder="重设密码" required="required" />
                                    <!--<a href="javascript:;" class="form-clear"></a>-->
                                </div>
                            </li>
                        </ul>
                        
                        <a href="javascript:;" id="findpwd_btn" class="upwin-btn mb20 forbid">完成</a>
                        
                    </div>
                </div>
            
            script(src='/js/jquery-1.11.1.min.js')
            script(src='/js/public.js')
            script(src='/js/dom-ready.js')
            script(type='text/javascript').
                function func_upwin_login(){
                    $("#upwin_login").addClass("animated zoomIn");
                    Pop.open("upwin_login");
                }
                
                function func_upwin_register(){
                    $("#upwin_register").addClass("animated zoomIn");
                    Pop.open("upwin_register");
                }
                
                $(function(){
                    
                    $("#upwin_login .login-tab a").on("click",function(){
                        var $this = $(this);
                        if($this.hasClass("cur")) return;
                        $("#upwin_login").removeClass("animated zoomIn").addClass("upwin-flip");
                        setTimeout(function(){
                          $this.addClass("cur").siblings().removeClass("cur");
                          $this.parent().prepend($this);
                          if($("#login_type").val() == "sms_login"){//如果当前是短信登录，则改为密码登录
                              $("#login_type").val("pwd_login");
                              $("#pwd_num_box").show();
                              $("#code_num_box").hide();
                              $("#upwin_tofindpwd").show();
                          }else{//否则改为短信登录
                              $("#login_type").val("sms_login");
                              $("#code_num_box").show();
                              $("#pwd_num_box").hide();
                              $("#upwin_tofindpwd").hide();
                          }
                        },400)
                        setTimeout(function(){
                            $("#upwin_login").removeClass("upwin-flip");
                        },810)
                    })
                    
                    $("#upwin_tologin").on("click",function(){
                        func_upwin_login();
                    })
                    
                    $("#upwin_toregister").on("click",function(){
                        func_upwin_register();
                    })
                    
                    $("#upwin_tofindpwd").on("click",function(){
                        $("#upwin_findpwd").addClass("animated zoomIn");
                        Pop.open("upwin_findpwd");
                    })
                    
                    
                    //登录框相关操作
                    $("#phone_num,#pwd_num,#code_num").on("input",function(e){
                        var target = e.target;
                        if(target.id == "phone_num" && Valid.isMobile($("#phone_num").val()) && $("#code_btn").text() == "获取验证码"){
                            $("#code_btn").removeClass("forbid");
                        }
                        
                        if(target.id == "phone_num" && !Valid.isMobile($("#phone_num").val()) && $("#code_btn").text() == "获取验证码"){
                            $("#code_btn").addClass("forbid");
                        }
                        
                        if($("#login_type").val() == "sms_login"){//如果当前是短信登录
                            if(Valid.isMobile($("#phone_num").val()) && Valid.isCode6($("#code_num").val())){
                                $("#login_btn").removeClass("forbid");
                            }else{
                                $("#login_btn").addClass("forbid");
                            }
                        }else{
                            if(Valid.isMobile($("#phone_num").val()) && $.trim($("#pwd_num").val()) != ""){
                                $("#login_btn").removeClass("forbid");
                            }else{
                                $("#login_btn").addClass("forbid");
                            }
                        }
                    })
                    
                    //注册框相关操作
                    $("#phone_reg,#pwd_reg,#code_reg").on("input",function(e){
                        var target = e.target;
                        if(target.id == "phone_reg" && Valid.isMobile($("#phone_reg").val()) && $("#code_btn_reg").text() == "获取验证码"){
                            $("#code_btn_reg").removeClass("forbid");
                        }
                        
                        if(target.id == "phone_reg" && !Valid.isMobile($("#phone_reg").val()) && $("#code_btn_reg").text() == "获取验证码"){
                            $("#code_btn_reg").addClass("forbid");
                        }
                        
                        if(Valid.isMobile($("#phone_reg").val()) && Valid.isCode6($("#code_reg").val()) && $.trim($("#pwd_reg").val()) != ""){
                            $("#register_btn").removeClass("forbid");
                        }else{
                            $("#register_btn").addClass("forbid");
                        }
                    })
                    
                    //找回密码相关操作
                    $("#phone_find,#pwd_find,#code_find").on("input",function(e){
                        var target = e.target;
                        if(target.id == "phone_find" && Valid.isMobile($("#phone_find").val()) && $("#code_btn_find").text() == "获取验证码"){
                            $("#code_btn_find").removeClass("forbid");
                        }
                        
                        if(target.id == "phone_find" && !Valid.isMobile($("#phone_find").val()) && $("#code_btn_find").text() == "获取验证码"){
                            $("#code_btn_find").addClass("forbid");
                        }
                        
                        if(Valid.isMobile($("#phone_find").val()) && Valid.isCode6($("#code_find").val()) && $.trim($("#pwd_find").val()) != ""){
                            $("#findpwd_btn").removeClass("forbid");
                        }else{
                            $("#findpwd_btn").addClass("forbid");
                        }
                    })
                    
                })